<html>
    <head>
    </head>
    <body>
        <a class="home" href="/">Home</a>
            <h1><%= game.title %> (<%= game.developer %>)</h1>

            <li>Release: <%= game.release %></li>
            <li>Genre: <%= game.genre %></li>
    </body>
</html>