<html>
<head>
    <title>List Of Games</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

const Games = (props) => {
            const listGames = props.data.map((game) =>
            <li key = {game.title}>
            <a onClick={props.clickHandler}>
                {`${game.title}`} </a>
            </li>);
            
            return <ul>{listGames}</ul>;
        };

    const Detail = (props) => {
        return (
                <div>
                <h3>Game Details</h3>
                {props.item &&
                    <ul> 
                        <li><b>Title</b>: {props.item.title}</li>
                        <li><b>Developer</b>: {props.item.developer}</li>
                        <li><b>Release</b>: {props.item.release}</li>
                        <li><b>Genre</b>: {props.item.genre}</li>
                    </ul>
                }
                </div>       
            )
    } 

    const App = (props) => {
        const [selectedItem, setSelectedItem] = React.useState([]);
        const games = <%- games %>;

        const itemClicked = (e) => {
            console.log('item clicked');
            console.log(e.target.innerText);

            let found = games.find((item) => { return item.title == e.target.innerText });
            console.log(found);
            setSelectedItem(found);
        }

        return (
            <div>
                <h2>Games I Enjoy Playing</h2>
                <Games data = {games} clickHandler={itemClicked}/>
                <hr />
                <Detail item={selectedItem} />
            </div>
        );
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>