<html>
<head>
    <title>List Of Games</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

const Games = (props) => {
            const listGames = props.data.map((game) =>
            <li key = {game.title}>
            <a onClick={props.clickHandler}>
                {`${game.title}`} </a>
            </li>);
            
            return <ul>{listGames}</ul>;
        };

    const Detail = (props) => {                
        return (
            <div>
            <h3>Game Details</h3>
            {props.item &&
                <form> 
                    <b>Title</b>: <input type="text" name="title" onChange={props.changeHandler} value={props.item.title || ''} />
                    <b>Developer</b>: <input type="text" name="developer" onChange={props.changeHandler} value={props.item.developer || ''} />
                    <b>Release</b>: <input type="text" name="release" onChange={props.changeHandler} value={props.item.release || ''} />
                    <b>Genre</b>: <input type="text" name="genre" onChange={props.changeHandler} value={props.item.genre || ''} />
                </form>
                }
            </div>       
        )
    }
    
    const ClearGame = (props) => {
        return <button onClick={props.clearItems}>Clear</button>;
    }

    const App = (props) => {

        const [selectedItem, setSelectedItem] = React.useState([]);
        const [items, setItems] = React.useState([games]);
        const games = <%- games %>;

        const itemClicked = (e) => {
            let found = games.find((item) => { return item.title == e.target.innerText });
            setSelectedItem(found);
        }

        const itemChanged = (e) => {
            console.log(e.target);
            let field = e.target.name;
            let newItem = { ...selectedItem };
            newItem[field] = e.target.value;
            setSelectedItem(newItem); //ask about update on how to update the list to reflect the changes we're making
        }

        return (
            <div>
                <h2>Games I Enjoy Playing</h2>
                <Games data = {games} clickHandler={itemClicked}/>
                <hr />
                <Detail item={selectedItem} changeHandler={itemChanged}/>
                <ClearGame clearItems={() => setSelectedItem(null)} />
            </div>
        );
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>